<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">Lista de cursos</div>
<div *ngIf="cursos.length == 0">Nao existem cursos para serem listados</div>

<div *ngIf="mostrarCursos">Lista de cursos</div>
<div *ngIf="!mostrarCursos">Nao existem cursos para serem listados</div>

<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<h5>hidden como alternativa</h5>
<div [hidden]="!mostrarCursos">Lista de cursos</div>
<div [hidden]="mostrarCursos">Nao existem cursos para serem listados</div>

<div *ngIf="mostrarCursos">Lista de cursos</div>


<!-- Como o *ngIf funciona por debaixo dos panos -->
<!-- <template [ngIf]="mostrarCursos">
    <div>
        Lista de cursos
    </div>
</template> -->

<!-- <div template="ngIf mostrarCursos">
    Lista de cursos
</div> -->