<!-- <app-diretiva-ngif></app-diretiva-ngif>-->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exemplo-ng-content>
    <div class="title">
        Conteudo que sera passado para o template
    </div>
    <div class="body">
        <app-operador-elvis></app-operador-elvis>
    </div>
</app-exemplo-ng-content> -->
<app-diretivas-customizadas></app-diretivas-customizadas>