<section>

    <!-- <article>
        <h1>Interpolacao / Interpolation</h1>
        <p>String renderizada com interpolacao: {{url}}</p>
        <p>O Resultado de 1 + 1 = {{ 1 + 1 }}</p>
        <p>O Resultado de 1 + 1 != {{ 1 + 1 + getValor()}}</p>
        <p>Curso de Angular = {{ cursoAngular && getCurtiCurso()}}</p>
    </article>

    <article>
        <h1> Property Binding </h1>
        <img src="{{urlImg}}">
        <img [src]="urlImg">
    </article> -->
    <!-- <article>
        <h3>Class e Style Binding</h3>
        <div>Selecione uma classe</div>
        #classe é uma variavel 
        <select #classe (change)="0">
            <option value="alert-success">Sucesso</option>
            <option value="alert-info">Info</option>
            <option value="alert-warning">Alerta</option>
            <option value="alert-danger">Erro</option>
        </select>
        <br><br>
        <p>{{classe.value}}</p>
        <div class="alert {{classe.value}}">Texto colorido conforme o valor da combo</div>

        <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
        <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
        <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
        <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>

        <div class="alert alert-danger" role="alert" 
        [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">Esse texto aparece em caso de erro</div>
    </article> -->
    <!-- 
    <article>
        <h3>Event Binding</h3>
        <div>
            <button class="btn btn-primary" (click)="botaoClicado()">Me clique</button>
        </div>

        <br><br>

        <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor(campoInput.value)" (blur)="salvarValor(campoInput.value)" #campoInput>

        <p>Valor Atual: {{valorAtual}}</p>
        <p>Valor Salvo: {{valorSalvo}}</p>

        <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highligth]="isMouseOver">Passe o mouse aqui</span>

    </article>
</section>
<section class="two-way-binding">
    <article>
        <h3>Two-way data binding</h3>
        <div>
            <input type="text" [value]="nome" (input)="nome = $event.target.value">
            <br><br>
            <input type="text" [(ngModel)]="nome">
            <p>Meu digitou o nome {{nome}}</p>

        </div>

        <div>
             Importar FormsModule quanda usar two-way-databinding
            <input type="text" [(ngModel)]="pessoa.nome">
            <input type="text" [(ngModel)]="pessoa.idade">
            <p>Meu nome é {{pessoa.nome}} e tenho {{pessoa.idade}} anos de idade</p>

        </div>

    </article>
</section>
 -->

    <section class="input-output-properties">
        <article>
            <h3>Input/Output properties</h3>
            <app-curso [nome]="nomeCurso"></app-curso>
            <!-- Usar property binding quando passa variavel, mas nao precisa quando
            o valor for hard code -->
            <app-contador [valor]="valorInicial" (mudouValor)="onMudouValor($event)"></app-contador>
        </article>
    </section>